<div class="show-candidato" >
    <mat-card class="voto-candidato" mat-elevation-z3 *ngIf="candidato != null">
           <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title class="candidato-title">Fim da Votação <br>Você votou em : </mat-card-title>
              </mat-card-header>
            <img mat-card-image class="imagem" src="{{candidato.imagem}}" alt="Foto do candidato">
                               
    </mat-card>
</div>
